body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

form {
    margin-bottom: 20px;
    
}
#form2{
    display: flex;
}

label {
    display: block;
    margin-top: 10px;
    color:white;
}
h2{
    color:white;
}
h1{
    color: white;
}
input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
   
}
#btn{
    margin-top: 30px;
}
button:hover {
    background-color: #0056b3;
}

#message {
    margin: 10px 0;
    padding: 10px;
}

.success {
    color: green;
}

.error {
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    position: relative;
}

button.delete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

button.delete-btn:hover {
    background: darkred;
}
